@import url('fonts.css');

html,
body {
  padding: 0;
  bottom: 0;
  margin: 0;
}


body.dark-mode {
  background-color: #121212;
  color: white;
}

body.dark-mode .container {
  color: #cfd8dc;
}

body.dark-mode .section {
  background: #1e1e1e;
}

body.dark-mode .section-title {
  color: #90caf9;
  border-bottom: 2px solid #90caf9;
}

body.dark-mode menu {
  background-color: #0d1b2a;
}

body.dark-mode menu ul li a {
  color: #eceff1;
}

body.dark-mode menu ul li a:hover {
  background-color: #bb86fc;
  color: #000;
}

body.dark-mode .carrusel-section {
  background-color: #000000;
  /* Fondo blanco para el carrusel */
  padding: 50px 0;
}

/*Seccion de tarjetas*/
.card {
  position: relative;
  width: 400px;
  height: 400px;
  margin: 20px;
}

.card .face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
  transition: .5s;
}

.card .front {
  transform: perspective(600px) rotateY(0deg);
  box-shadow: 0 5px 10px #000;
}

.card .front img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card .front h3 {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  line-height: 45px;
  color: #fff;
  background: rgba(0, 0, 0, 0.4);
  text-align: center;
}

.card .back {
  transform: perspective(600px) rotateY(180deg);
  background: rgb(3, 35, 54);
  padding: 15px;
  color: #f3f3f3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  box-shadow: 0 5px 10px #000;
}

.card .back .link {
  border-top: solid 1px #f3f3f3;
  height: 50px;
  line-height: 50px;
}

.card .back .link a {
  color: #f3f3f3;
}

.card .back h3 {
  font-size: 30px;
  margin-top: 20px;
  letter-spacing: 2px;
}

.card .back p {
  letter-spacing: 1px;
}

.card:hover .front {
  transform: perspective(600px) rotateY(180deg);
}

.card:hover .back {
  transform: perspective(600px) rotateY(360deg);
}

.cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.titulo_pag{
  text-align: center;
  font-family: 'nunito-italic';  
}
